* {
  user-select: none;
}
:root {
  --main-color: #cfcfcf;
  --highlight-color: #00f7ff;
  --right-color: rgb(0, 255, 102);
  --wrong-color: #ff0000;
  --guessed-wrong-color: #ffa600;
  --load-color: rgba(0, 0, 0, 0.46);
}

#container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Grid {
  padding: 3vh;
  height: 50vh;
  width: 50vh;
  display: grid;
  border-bottom: #00ff76 solid 4px;
  border-radius: 20px;
  background-color: #4949497e;
  gap: 3%;
}

.Box {
  background-color: var(--main-color);
  border-radius: 2px;
} 